@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Lato&family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");

h2,
h3 {
  /* font-family: "Yatra One", cursive; */
  font-family: "Lato", sans-serif;
}
p {
  font-family: "Raleway", sans-serif;
}

a,
input {
  font-family: "Cairo", sans-serif;
}

.home-main {
  /* min-height: 100vh; */
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  min-height: 50vh;
}

.hero-title {
  font-size: 2.5rem;
  font-family: "Merienda One", cursive;
  text-transform: uppercase;
  color: #218380;
  /* transform: rotate(-3deg); */
}

.hero .hero-div {
  background-color: #ffbc42;
  width: 100%;
}

.hero-div .logo-div {
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
}

.logo-div > a {
  margin-left: 85%;
}

.logo-div a {
  display: inline-flex;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  background-color: #d81159;
  border-radius: 9px;
  padding: 0 30px;
  font-weight: 700;
  width: 150px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.hero-div .hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 60px 20px;
}

.hero-container div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 30px;
}

.hero-container div:nth-child(1) > h2,
.hero-container div:nth-child(1) > p {
  margin-bottom: 1rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

.hero-container div:nth-child(1) > p {
  color: #18625f;
}

.hero-container div:nth-child(2) {
  display: flex;
  justify-content: center;
  width: 40%;
}

.hero-container a {
  /* This is the Link tag */
  display: inline-flex;
  height: 68px;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  background-color: #d81159;
  border-radius: 9px;
  padding: 0 50px;
  font-weight: 700;
  width: 300px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.hero-container a:hover,
.hero-container a:focus {
  background-color: black;
}

/* Image and floating animation */
.hero-container img {
  width: 400px;
  height: 400px;
  transform: rotate(20deg);
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media (max-width: 768px) {
  .logo-div a {
    display: none;
  }

  .hero-div .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .hero-container div:nth-child(1) {
    align-items: center;
    width: 90%;
    padding: 20px;
    text-align: center;
    min-height: 50vh;
  }

  .hero-container div:nth-child(2) {
    display: none;
  }
}
