.loader-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ba3b70;
  filter: opacity(0.99);
}

.donut {
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(151, 159, 208, 0.3);
  border-top-color: #979fd0;
  animation: 1.5s spin infinite linear;
}
.donut.multi {
  border-bottom-color: #979fd0;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
